# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

wandb/
outs/
dev/
.qwen/
results/
analysis/
BatteryML-main/
batteryml/
datasets/
outputs/
dataset/

/tmp*

plot_scripts/venv/
checkpoints/
.triton_cache/
scc/*.log
results_logs/
venv_train_p100/
